body{
    background-color:#2F3C7E;
    color:white;
    font-family: monospace;
}

main{
    display: flex;
    flex-direction: row;
}

img{
    border: 1px solid white;
    border-radius: 5px;
    max-width: 350px;
    width: 100%

}

p{
    color: #FFC75F;
}

a{
    color: white;
}
.attribution{
    border-radius: 20px;
    position:absolute;
    right: 20px;
    bottom:20px;
    font-size:0.8rem;
    background-color: pink; 
    padding: 10px;
    color: black;
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.2);
    font-family:'Times New Roman', Times, serif;
}
.content{
    width: 65%;
    padding-left: 30px;
    padding-right: 20px;
}

.content p{
    max-width: 80%;
}

.sidebar{
    display:flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 3px dotted white;
    height: 90vh;
}

button{
    width: 200px;
    max-width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    border: 1px solid white;
    background : transperent;
    color:pink;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: #2F3C7E;
}

.reveal-btn{
    border:none;
    text-decoration: underline;
    margin: 0;
}
.reveal-btn:hover{
    color:white;
    background-color: transparent;
}

.joke-content{
    color: black;
}
